<nav class="col-md-3 col-lg-2 d-none d-md-block bg-dark sidebar min-vh-100 p-3">

    <h5 class="text-white text-center mb-3">Veteran Panel</h5>

    <ul class="nav flex-column">
        <li><a class="nav-link text-white" href="{{ url_for('dashboard.veteran') }}">Dashboard</a></li>
        <li><a class="nav-link text-white" href="{{ url_for('jobs.job_board') }}">Jobs</a></li>
        <li><a class="nav-link text-white" href="{{ url_for('applications.my_applications') }}">Applications</a></li>
        <li><a class="nav-link text-white" href="{{ url_for('dashboard.profile') }}">Profile</a></li>
    </ul>

</nav>