<nav class="col-md-3 col-lg-2 d-none d-md-block bg-primary sidebar min-vh-100 p-3">

    <h5 class="text-white text-center mb-3">Employer Panel</h5>

    <ul class="nav flex-column">
        <li><a class="nav-link text-white" href="{{ url_for('employer.dashboard') }}">Dashboard</a></li>
        <li><a class="nav-link text-white" href="{{ url_for('jobs.job_board') }}">Post Jobs</a></li>
        <li><a class="nav-link text-white" href="{{ url_for('employer.applicants') }}">Applicants</a></li>
        <li><a class="nav-link text-white" href="{{ url_for('employer.profile') }}">Company Profile</a></li>
    </ul>

</nav>